<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <title>
        MyWebsite
    </title>
</head>
<body>
<div th:fragment="foter">
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">@ 2020 Cybertek - All Rights Reserved:</div>
    </footer>
</div>
<div th:fragment="Emreay">
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">@ 2020 Cybertek - All Rights Reserved:</div>
    </footer>
</div>
<div th:fragment="Cybertek">
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">@ 2020 Cybertek - All Rights Reserved:</div>
    </footer>
</div>



</body>
</html>