<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
</head>
<body>
  Hello for the future Solutions architect..
    <h1>Spring Boot</h1>
  <h2>Spring Boot</h2>
  <h3>Spring Boot</h3>

    <h1 align="center" style="color:blue">Spring Boot</h1>

    <img src="springboot.png" alt="Spring boot">

        <ul>
            <li>
               Mvc
            </li>
            <li>
            ORM
            </li>
            <li>
            API
            </li>

            <a href="https://amazon.com">Amazon.com</a>
            <table>
                <tr>
                    <td>
                        Loop
                    </td>
                    <td>
                        Collection
                    </td>
                    <td>
                        Stream
                    </td>
                </tr>
                <tr>
                    <td>
                        IoC
                    </td>
                    <td>
                        DI
                    </td>
                    <td>
                        Value
                    </td>
                </tr>
            </table>

                    <!--Forms-->
                    <labels>
                        User Name:
                    </labels>
            <input type="text" name="username"><br>
            <label> Password:</label>
            <input type="password"><br>
            <label> Enter your comments:</label>
            <textarea name="comments"></textarea><br>

            <label>Please select your fav subject:</label></br>
            <input type="radio" name="Spring" value="IoC" checked="checked">IoC</br>
            <input type="radio" name="Spring" value="DI" >DI</br>
            <input type="radio" name="Spring" value="MVC" >MVC</br>

            <label>Please select your fav company:</label></br>
            <input type="radio" name="Spring" value="LoopIntegration" checked="checked">LI</br>
            <input type="radio" name="Spring" value="Walt Disney" >WD</br>
            <input type="radio" name="Spring" value="Verizon" >Verizon</br>

            <label>Please select your fav company:</label></br>
            <input type="radio" name="Spring" value="LoopIntegration" checked="checked">LI</br>
            <input type="radio" name="Spring" value="Walt Disney" >WD</br>
            <input type="radio" name="Spring" value="Verizon" >Verizon</br>

            <label>Please select your fav car:</label></br>
            <select name="cars">

                <option value="Lambourghini">Lambourghini</option>
                <option value="Tesla5">T5</option>
                <option value="Honda">Honda</option>

            </select>


            <form action="#" method="get">
                First name:<input type ="text" name="first_name"/>
                <br>
                Last name: <input type="text" name="last_name"/>

            </form>

            <div>
                <h3>This is only version 1 for learning perpase</h3>
                <ul>
                    <li>Spring Framework</li>
                    <li>Security</li>
                    <li>Unit Testing</li>
                </ul>
            </div>





        </ul>
</body>
</html>